# the my ignore list
tmp
bin
.vs
*.user
*.tlog
debug
release
*.o
*.a
*.exe
*.lib
*.Debug
*.Release
_build
build
build-debug
build-release
debug
*.log
clear_build.bat

# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app